* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(128, 128, 128, 0.215);
    font-family: "Instrument Serif", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header {
    width: 800px;
    margin: 0 auto;
}

.container {
    width: 850px;
    margin: 1rem auto;
}

.img-container a {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.img-container a:hover {
    box-shadow: -6px 6px 37px 12px rgba(6, 196, 226, 0.51);
    width: 150px;
    height: 150px;
    transition: .6s;
}

.img-container {
    display: flex;
    margin: 50px 50px;
    justify-content: left;
}

.profile-bio {
    display: inline-flex;
}

.name-bio {
    margin-top: 50px;
    max-width: 30rem;

}

.name-bio p {
    margin-top: 1rem;
}

.container .class-list {
    margin-top: 1rem;
}

.container .class-list p {
    margin-top: .6rem;
}

h1 h2 {
    font-weight: 600;
}

.class-list a {
    text-decoration: none;
}