button {
    all: unset;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    width: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: .3rem;
    white-space: nowrap;

}

.home, .contacts, .log-in {
    margin: 0rem .4rem;
}

div {
   /* background-color: red; */
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-right {
    text-align: right;
    padding: .5rem 1rem;
}

i {
    font-size: 2rem;
}

.header-left {
    padding: .5rem 1rem;
    display:flex; 
    align-items:center; 
    justify-content:center;
    
}

.header {
    display: flex;
    justify-content:space-between;
}

.company-name {
    font-weight: 600;
    padding: .3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-1-left {
    display: flex;
    flex-direction: column;
    width: 22rem;
}

p {
  
}

.section-1-right {
    display: flex;
    flex-direction: column;
    width: 22rem;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    margin: 0rem;
}

.statistics {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.column {
    max-width: 9.5rem;
    /* 
    total: 44
    without gaps: 38

    */
}

.stat-header {
    font-weight: 600;
    font-size: 14px;
}

.stat-body {
    font-size: 12px;
}

.column-icon>span {
    font-size: 3.5rem;
}
.column-icon {
display:flex; align-items:center; justify-content:center;
}