.content {
    margin: 3rem;
    max-width: 30rem;
}

.image-1 {
    max-width: 100%;
}

.span-1 {
    font-weight: 600;
}

.span-2 {
    font-size: 2rem;
}

.span-3 {
    text-decoration: underline;
}

.span-4 {
    color: darkslateblue;
}

.font-1 {
    font-family: "Montserrat", sans-serif;
}

.font-2 {
    font-family: "Ubuntu";
}